* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.invisible {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none !important;
}

.disabled {
  pointer-events: none;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cards {
  margin: 0 auto;
  width: 1150px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  margin-top: 15px;
}

.cards {
  height: 318px;
}

.game-buttons {
  display: flex;
}

.game-button {
  -webkit-font-smoothing: antialiased;
  background-color:#222;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;
  margin-right: 5px;
}

.game-button:hover {
  background-color: #559bd9;
  color: #fff;
}
